<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Province_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-province_id" data-rule="required" min="0" data-source="province/index" class="form-control selectpage" name="row[province_id]" type="text" value="{$row.province_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('City_cname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-city_cname" data-rule="required" class="form-control" name="row[city_cname]" type="text" value="{$row.city_cname|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('City_cshortname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-city_cshortname" class="form-control" name="row[city_cshortname]" type="text" value="{$row.city_cshortname|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('City_ename')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-city_ename" data-rule="required" class="form-control" name="row[city_ename]" type="text" value="{$row.city_ename|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('City_eshortname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-city_eshortname" class="form-control" name="row[city_eshortname]" type="text" value="{$row.city_eshortname|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('City_aleph')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-city_aleph" data-rule="required" class="form-control" name="row[city_aleph]" type="text" value="{$row.city_aleph|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Created_at')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-created_at" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[created_at]" type="text" value="{$row.created_at}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Updated_at')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-updated_at" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[updated_at]" type="text" value="{$row.updated_at}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
