<!--
 * @Author: chengbao0312 chengbao777@gmail.com
 * @Date: 2022-06-21 10:06:58
 * @LastEditors: chengbao0312 chengbao777@gmail.com
 * @LastEditTime: 2022-06-24 14:54:13
 * @FilePath: /baiying/application/admin/view/order/order/add.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('deliver_at')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input data-rule="required" id="c-deliver_at" type="text" name="row[deliver_at]]" class="form-control datetimepicker"  placeholder="时间"/>
        </div>
    </div>
   

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
