<!--
 * @Author: chengbao0312 chengbao777@gmail.com
 * @Date: 2022-06-07 16:42:00
 * @LastEditors: chengbao0312 chengbao777@gmail.com
 * @LastEditTime: 2022-07-18 16:11:27
 * @FilePath: /baiying/application/admin/view/auth/admin/edit.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<form id="edit-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    {:token()}
   
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Group')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('group[]', $groupdata, $groupids, ['class'=>'form-control selectpicker', 'multiple'=>'', 'data-rule'=>'required'])}
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="control-label col-xs-12 col-sm-2">{:__('Username')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="username" name="row[username]" value="{$row.username|htmlentities}" data-rule="required;username" />
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="control-label col-xs-12 col-sm-2">{:__('Email')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="email" class="form-control" id="email" name="row[email]" value="{$row.email|htmlentities}" data-rule="email" />
        </div>
    </div>
    <div class="form-group">
        <label for="mobile" class="control-label col-xs-12 col-sm-2">{:__('Mobile')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="mobile" name="row[mobile]" value="{$row.mobile|default=''|htmlentities}" data-rule="mobile" />
        </div>
    </div>
    <div class="form-group">
        <label for="nickname" class="control-label col-xs-12 col-sm-2">{:__('Nickname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" id="nickname" name="row[nickname]" autocomplete="off" value="{$row.nickname|htmlentities}" data-rule="required" />
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="control-label col-xs-12 col-sm-2">{:__('Password')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="password" class="form-control" id="password" name="row[password]" autocomplete="new-password" value="" data-rule="password" />
        </div>
    </div>
    {$row.related_type ===3}
    <div class="form-group">
        <label for="password" class="control-label col-xs-12 col-sm-2">角色:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-related_type" class="form-control" data-rule="required" name="row[related_type]">
                {$row.related_type === 0 ? '<option value="0" selected>无</option>': '<option value="0" >无</option>'}
                {$row.related_type === 1 ? '<option value="1" selected>供应商</option>': '<option value="1">供应商</option>'}
                {$row.related_type === 2 ? '<option value="2" selected>业务公司</option>': '<option value="2">业务公司</option>'}
                {$row.related_type === 3 ? '<option value="3" selected>签约公司</option>': '<option value="3">签约公司</option>'}
                {$row.related_type === 4 ? '<option value="4" selected>采购商</option>': '<option value="4">采购商</option>'}
            </select>
        </div>
    </div>
    <div class="{$row.related_type === 1 ? 'form-group realted_type' : 'hidden form-group realted_type'}" id="admin-supplier">
        <label for="password" class="control-label col-xs-12 col-sm-2">{:__('Related')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-related_id" min="0" data-source="system/businessconfig/by_supplier/index" data-field="name" class="form-control selectpage" name="row[related_supplier_id]" data-primary-key="id" type="text" value="{$row.related_id|htmlentities}">
        </div>
    </div>
    <div class="{$row.related_type === 2 ? 'form-group realted_type':'form-group hidden realted_type' }" id="admin-business">
        <label for="password" class="control-label col-xs-12 col-sm-2">{:__('Related')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-related_id" min="0" data-source="system/businessconfig/by_business_company/index" data-field="name" class="form-control selectpage" name="row[related_business_id]" data-primary-key="id" type="text" value="{$row.related_id|htmlentities}">
        </div>
    </div>
    <div class="{$row.related_type === 3 ? 'form-group realted_type':'form-group hidden realted_type' }" id="admin-contract">
        <label for="password" class="control-label col-xs-12 col-sm-2">{:__('Related')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-related_id" min="0" data-source="system\businessconfig\by_contracting_company/index" data-field="name" class="form-control selectpage" name="row[related_contact_id]" data-primary-key="id" type="text" value="{$row.related_id|htmlentities}">
        </div>
    </div>
    
    <div class="{$row.related_type === 4 ? 'form-group realted_type':'form-group hidden realted_type' }" id="admin-purchaser">
        <label for="password" class="control-label col-xs-12 col-sm-2">{:__('Related')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-related_id" min="0" data-source="system/businessconfig/purchaser/table1" data-field="full_name" class="form-control selectpage" name="row[related_purchaser_id]" data-primary-key="id" type="text" value="{$row.related_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['normal'=>__('Normal'), 'hidden'=>__('Hidden')], $row['status'])}
        </div>
    </div>
    <div class="form-group hidden layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
