<!--
 * @Description: 
 * @Author: 尚夏
 * @Date: 2022-07-12 14:15:23
 * @LastEditTime: 2022-07-13 14:02:15
 * @FilePath: /baiying/application/admin/view/finance/invoice/invoice_record.html
-->
<form id="add-form-record" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

  <div class="form-group">
      <label class="control-label col-xs-12 col-sm-2">本次回款金额:</label>
      <div class="col-xs-12 col-sm-8">
        <input id="c-amount" data-rule="required" class="form-control" name="row[amount]" type="text" value="{$row.amount|htmlentities}" disabled>
      </div>
  </div>
  <div class="form-group">
      <label class="control-label col-xs-12 col-sm-2">支付银行:</label>
      <div class="col-xs-12 col-sm-8">
          <input id="c-pay_bank" data-rule="required" class="form-control" name="row[pay_bank]" type="text" value="{$row.pay_bank|htmlentities}" disabled>
      </div>
  </div>
  <div class="form-group">
      <label class="control-label col-xs-12 col-sm-2">流水号:</label>
      <div class="col-xs-12 col-sm-8">
          <input id="c-pay_info" class="form-control" name="row[pay_info]" type="text" value="{$row.pay_info|htmlentities}" disabled>
      </div>
  </div>
  <div class="form-group">
      <label class="control-label col-xs-12 col-sm-2">日期:</label>
      <div class="col-xs-12 col-sm-8">
        <input id="c-payback_at" data-rule="required" data-time-picker="true" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[payback_at]" type="text" value="{$row.payback_at|htmlentities}" disabled>
      </div>
  </div>

  <div class="form-group">
      <label class="control-label col-xs-12 col-sm-2">凭证:</label>
      <div class="col-xs-12 col-sm-8">
        <img src="{$cdnurl}{$row.certificate}" data-image-show width="50" height="50" alt="">
        <!-- <input type="text" data-rule="required" name="row[certificate]" id="c-local" class="form-control hide" value="{$row.certificate|htmlentities}"/> -->
        <!-- <ul class="row list-inline faupload-preview" id="p-local"></ul> -->
      </div>
  </div>
  <!-- <div class="form-group">
    <label for="c-local" class="control-label col-xs-12 col-sm-2"></label>
    <div class="col-xs-12 col-sm-8">
        <button type="button" id="faupload-local" class="btn btn-primary faupload" data-input-id="c-local" data-multiple="false" data-preview-id="p-local" data-url="{:url('ajax/upload')}"><i class="fa fa-upload"></i>上传送货凭证</button>
        {if $config.upload.chunking}
        <button type="button" id="faupload-local-chunking" class="btn btn-primary faupload" data-chunking="true" data-maxsize="1gb" data-input-id="c-local" data-multiple="false" data-preview-id="p-local" data-url="{:url('ajax/upload')}"><i class="fa fa-upload"></i> {:__("Upload to local by chunk")}</button>
        {/if}
    </div>
  </div> -->
  <div class="form-group">
      <label class="control-label col-xs-12 col-sm-2">备注:</label>
      <div class="col-xs-12 col-sm-8">
          <input id="c-remark" class="form-control" name="row[remark]" type="text" value="{$row.remark|htmlentities}" disabled>
      </div>
  </div>
  
  <!-- <div class="form-group layer-footer">
      <label class="control-label col-xs-12 col-sm-2"></label>
      <div class="col-xs-12 col-sm-8">
          <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
          <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
      </div>
  </div> -->
</form>